
<% page.posts.each(function(item){ %>
    <a href="<%- url_for(item.path) %>" class="article-index">
        <%- partial('_partial/article', {item: item, index: true}) %>
    </a>
<% }); %>
<%- partial('_partial/pagination') %>