<div class="site-title text-center">
    <h3 class="title"><a href="<%- url_for(config.root) %>"><%- config.title %></a></h3>
</div>
<div class="site-info">
    <img src="" class="autor-img"/>
    <p><%- config.author %></p>
    <p><%- config.description %></p>
</div>