html, body
  height 100%

body
  background-color #ececec
  font-family Noto Sans, Noto Sans T Chinese, Microsoft JhengHei, sans-serif



a
  color #428bca;
  text-decoration none

  &:hover
      color #2a6496
      text-decoration underline