html, body
  height 100%

body
  background-color #ffffff
  font-family Noto Sans, Noto Sans T Chinese, Microsoft JhengHei, sans-serif

body.active
  padding-left $nav_width

a
  color #428bca;
  text-decoration none

  &:hover
      color #2a6496
      text-decoration underline