<!-- NAV BAR -->
<nav class="mainnav"> <a href="#" class="toggle"><i class="fa fa-bars"></i></a>
  <div class="menu">
    <ul class="nav">

        <li>
            <a class="btn" href="{{ site.url }}/feed.xml" title="Atom/RSS feed">
                <i class="fa fa-rss"></i>Feed
            </a>
        </li>
    </ul>
  </div>
</nav>