<!-- NAV BAR -->
<nav class="mainnav">
  <a href="#" class="toggle"></a>
  <div class="menu">
    <ul class="nav">
    <% theme.widgets.forEach(function(widget){ %>
        <li><%- partial('../_widget/' + widget) %></li>
    <% }); %>
    <ul>
  </div>
</nav>

