
.post


  & a
    display block
    text-decoration none
    padding: 20px;
    border-bottom: 3px solid #eaeaea;
    background-color: #fafafa;
    &:hover
        background-color darken(#fafafa, 10%)
  & p
    color #565a58

.paginator
  font-size 20px
  padding 20px
  text-align center