
.post
  & a
    display block
    text-decoration none
    padding: 50px;
    border-bottom: 3px solid #eaeaea;
    background-color $article_bg_color

    &:hover
        background-color darken(@background-color, 5%)
  & p
    color #565a58

.paginator
  font-size 20px
  padding 20px
  text-align center