.footer
  color #999
  margin-top 20px
  & p
    margin 0
    padding 0
.powered-by,
.theme-info 
    display inline-block

.powered-by
  margin-right 10px

  &::after
    content "and"
    padding-left 10px
